{% load widget_tweaks %}

    <div class="center">
        <div class="form-input">
            <form action="{% url "home" %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% if form.image.errors %}
                        <div class="alert alert-danger">{{ form.image.errors|striptags}}</div>      
                    </br>   
                {% endif %}
                {% if form.caption.errors %}
                        <div class="alert alert-danger">{{ form.caption.errors|striptags}}</div>    
                    </br>     
                {% endif %}
                <div class="preview">
                    <img id="file-ip-1-preview">
                </div>
                <label for="file-ip-1">Upload Image</label>
                {{ form.image|attr:"name:img"|attr:"type:file"|attr:"id:file-ip-1"|attr:"accept:image/*"|attr:"onchange:showPreview(event);" }}
                {{ form.caption|attr:"name:caption"|attr:"placehorlder:Caption"|attr:"class:textarea2" | attr:"rows:3"}}
                <input type="submit" class="btn btn-primary inp1" value="Post">
            </form>
        </div>
    </div>
