{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media | Login</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    
    <div class="addpost">
        <div class="post-create">
            <img src="{% static 'images/logo.png' %}" alt="AdderHub" class="auth-logo">
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <h2 class="fontt">Login to your Acount</h2>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            </br>
                            Your username and password didn't match. Please try again.
                        </div>
                    {% endif %}
            
                    {{form.username | add_class:'textarea'}}
                    {{form.password | add_class:'textarea'}}
                    <input type="submit" class="btn btn-primary fontt" value="Login" />
                </form> 
            </div>
            <div class="form-footer-link">
                Don't have an account?
                <a href="{% url 'signup' %}"> Sign up</a>
            </div>
            <div class="form-footer-link">
                Forgot your password?
                <a href="{% url 'password_reset' %}"> Reset it</a>
            </div>
        </div>
    </div>
</body>
</html>