{% extends 'account/auth_base.html' %}
{% load widget_tweaks %}
{% block title %}Reset password{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h2 class="fontt">Reset your password</h2>
    <p>Enter your account's email and we'll send you a link to choose a new password.</p>
    {% if form.email.errors %}<div class="alert alert-danger">{{ form.email.errors|striptags }}</div>{% endif %}
    {{ form.email|add_class:"textarea"|attr:"placeholder:Email" }}
    <input type="submit" class="btn btn-primary fontt" value="Send reset link" />
</form>
{% endblock %}
