{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}


{% block title%}{{object.username}}'s Profile{% endblock %}


{% block main %}
    <div class="wrapper">
        <div class="profile-bg{% if request.user == object %} avatar-edit{% endif %}">
            <img src="{{ object.background_img.url }}" alt="">
            {% if request.user == object %}
                <button type="button" class="avatar-edit-btn bi bi-pencil-fill" data-target="background" aria-label="Change background picture"></button>
            {% endif %}
        </div>
        <div>
            <div class="row">
                <div class="row1">
                    <a href="#" class="profile-link{% if request.user == object %} avatar-edit{% endif %}">
                        <img src="{{ object.profile_img.url }}" class="profile-img" alt="">
                        {% if request.user == object %}
                            <button type="button" class="avatar-edit-btn bi bi-pencil-fill" data-target="avatar" aria-label="Change profile picture"></button>
                        {% endif %}
                    </a>
                    <div class="profile-marg">
                        <div class="">
                            <p class="profile-name">{{object.first_name}} {{object.last_name}}</p>
                            <span>
                                <a href="#">@<span>{{object.username}}</span></a>
                            </span>
                        </div>
                    </div>
                </div>
                {% if request.user != object %}
                    {% if is_following %}
                        <a class="btn btn-primary" href="{% url "follow" %}?username={{object.username}}&amp;next={{ request.path|urlencode }}">Unfollow</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url "follow" %}?username={{object.username}}&amp;next={{ request.path|urlencode }}">Follow</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-primary" href="{% url 'settings' %}">Edit Profile</a>
                {% endif %}
                
            </div>
            <p>{{object.bio}}</p>
            <div class="profile-state">
                <ul class="profile-Arrange">
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Posts
                            </span>
                            <span class="profile-number">
                                {{object.posts_count}}
                            </span>
                        </a>
                    </li>
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Followers
                            </span>
                            <span class="profile-number">
                                {{object.followers_count}}
                            </span>
                        </a>
                    </li>
                    <li class="profile-details">
                        <a href="#">
                            <span class="profile-label d-block">
                                Followings
                            </span>
                            <span class="profile-number">
                                {{object.followings_count}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 

    <div class="profileposts">
        <div class="post">
            {%for field in posts%}
                <div class="photo">
                    <a href="{% url 'post' pk=field.id%}">
                        <img class="pic" src="{{field.image.url}}">
                    </a>
                </div>
            {% empty %}
                <label class="">No posts available</label>
            {%endfor%}
        </div>
    </div>

    {% if request.user == object %}
        {% csrf_token %}
        {% include "account/partials/upload_overlay.html" with kind="avatar" %}
        {% include "account/partials/upload_overlay.html" with kind="background" %}
    {% endif %}

{% endblock %}

{% block scripts %}
    {% if request.user == object %}
        <script src="{% static 'js/profile.js' %}"></script>
    {% endif %}
{% endblock %}