{% load static %}

<div class="feeds">
    {% for field in posts %}
            <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            <img src="{{ field.0.user.profile_img.url }}" alt="">
                        </div>
                        <div class="ingo">
                            <a href="{% url 'profile' username=user.username %}" class="username-link">
                                <h3>{{field.0.user.username}}</h3>
                            </a>
                            <small>{{field.0.creation_time}}</small>
                        </div>
                    </div>
                    <div>
                        {% if field.0.user == request.user %}
                            <form action="{% url 'delete' field.0.id %}" method="post">
                                {% csrf_token %}
                                <button class="bi bi-trash" type="submit" name="delete"></button>
                            </form>
                        {% endif %}   
                    </div>
                </div>

                <div class="photo">
                    <img src="{{field.0.image.url}}" alt="">
                </div>
                <div class="action-button">
                    <div class="interaction-buttons">
                    {% if field.1 == False %}
                        <span><a href="{% url "like" %}?post_id={{field.0.id}}&amp;next={{ request.path|urlencode }}" class="bi bi-suit-heart"></a></span>
                    {% else %}
                        <span><a href="{% url "like" %}?post_id={{field.0.id}}&amp;next={{ request.path|urlencode }}" class="bi bi-suit-heart-fill"></a></span>
                    {% endif %}
                    {% if field.0.like_no == 0 %}
                    <span class="text-muted">No Likes</span>
                    {% elif field.0.like_no == 1%}
                    <span class="text-muted">{{field.0.like_no}} Like</span>
                    {% else %}
                    <span class="text-muted">{{field.0.like_no}} Likes</span>
                    {% endif %}
                    </div>
                </div>
                <div class="caption">
                    <p>
                        <b>
                            <a href="{% url 'profile' username=user.username %}" class="username-link">
                                {{field.0.user.username}}
                            </a>
                        </b>
                        {{field.0.caption}}
                    </p>
                </div>
            </div>
    {%endfor%}
</div>